html {
  font-size: 20px;
}
body {
  background-color: #443b33;
  color: white;
}

a {
  color: #cccccc;
}

.cardgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  width: 10rem;
}

.card {
  background-color: #fff0ee;
  padding: 1rem;
  border-radius: 1rem;
}

.cardbg {
  background-color: #cccccc;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: inset 0rem 0.1rem 0.2rem #aa9999;
}

.card .cardgb img {
  width: 8rem;
  height: 8rem;
}

.card .cardgb div {
  width: 8rem;
  height: 8rem;
}

.nocard {
  visibility: hidden;
}

.card.nocard {
  background-color: #443b33;
  visibility: visible;
  box-shadow: inset 0rem 0.05rem 0.2rem rgba(0, 0, 0, 0.2)
}

.card.collected {
  background-color: #cccccc;
}

.card.collected .cardbg {
  box-shadow: none;
}